#match-img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}
.modal-body {
	text-align: center;
}
.shade {
	background: rgba(0, 0, 0, 0.5);
}

.bg-light{
    background-color: #d4c0c0!important;
}
.navbar-brand img {
	display: inline-block;
}